<div ng-if="state == 'user'">
     <!--Register / Login form-->
    <div ng-if="!loggedIn" class="col-sm-4 col-sm-offset-4">
        <div ng-if="userError" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ userError }}
        </div>

        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-user"></span>
            <input type="input" class="form-control" ng-model="userName" placeholder="Medical ID"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-lock"></span>
            <input type="password" class="form-control" ng-model="password" placeholder="Password"/>
        </div>
        <div class="buttonsRight">
            <button ng-click="registerUser()"
                    class="btn btn-default">Register</button>
            <button ng-click="logIn(userName, password)"
                    class="btn btn-default">Login</button>
        </div>
    </div>

    <div ng-if="loggedIn">
        <div ng-if="userError" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ userError }}
        </div>
        <div style="margin-bottom: 50px;">
            <button ng-click="logout()" style="float: right;" class="btn btn-default">Logout</button>
            <h3><i class="fa fa-id-card-o" aria-hidden="true"></i> {{userName}}</h3>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default" style="height: 600px; overflow-x: hidden;">
                    <div class="panel-heading"><i class="fa fa-list-alt" style="margin-right: 5px;" aria-hidden="true"></i>Access to patients</div>
                    <div class="panel-body">
                        <div ng-if="subjects.length > 0" class="list-group">
                            <button ng-repeat="subject in subjects" ng-click="getPatientData(subject)" type="button" ng-class="{'active' : subject === selectedPatient}" class="list-group-item">{{subject}}</button>
                        </div>
                        <ul ng-if="subjects.length == 0" class="list-group">
                            <li class="list-group-item list-group-item-warning">No patients permissions</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9" style="height: 550px; min-height: 550px; overflow-x: hidden;">
                <div id="navigation">
                    <ul class="nav nav-tabs">
                        <li role="presentation" ng-class="{'active': loginState=='personal'}" ng-click="loginState = 'personal'">
                            <a href="#"><i class="fa fa-user-o" style="margin-right: 5px;" aria-hidden="true"></i>Personal info</a>
                        </li>
                        <li role="presentation" ng-class="{'active': loginState=='prescriptions'}" ng-click="loginState = 'prescriptions'">
                            <a href="#"><i class="fa fa-clipboard" style="margin-right: 5px;" aria-hidden="true"></i>Prescription history</a>
                        </li>
                        <li role="presentation" ng-class="{'active': loginState=='patientFiles'}" ng-click="loginState = 'patientFiles'">
                            <a href="#"><i class="fa fa-file-o" style="margin-right: 5px;" aria-hidden="true"></i>Images</a>
                        </li>
                        <li class="right" role="presentation" ng-class="{'active': loginState=='permissions'}" ng-click="loginState = 'permissions'">
                            <a href="#"><i class="fa fa-users" style="margin-right: 5px;" aria-hidden="true"></i>Permissions</a>
                        </li>
                    </ul>
                </div>

                <!--Personal-->
                <div ng-if="loginState ==='personal'">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>CPR:</label>
                            <input ng-model="patientData.cpr" type="text" class="form-control" disabled>
                        </div>
                        <div class="form-group">
                            <label>Address:</label>
                            <input ng-model="patientData.address" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Email:</label>
                            <input ng-model="patientData.email" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Name:</label>
                            <input ng-model="patientData.name" type="text" class="form-control" disabled>
                        </div>
                        <div class="form-group">
                            <label>Date of birth:</label>
                            <input placeholder="{{patientData.dateOfBirth | date}}" type="text" class="form-control" disabled>
                        </div>
                    </div>
                </div>

                <!--Data-->
                <div ng-if="loginState ==='prescriptions'">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Dosage</th>
                            <th>Date prescribed</th>
                            <th>Comment</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="prescriptions" ng-repeat="pres in prescriptions">
                            <td>{{ pres.name }}</td>
                            <td>{{ pres.dose }}</td>
                            <td>{{ pres.date | date}}</td>
                            <td>{{ pres.comment }}</td>
                        </tr>
                        <tr ng-if="!prescriptions">
                            <td colspan="4" class="warning">No data</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!--Images-->
                <div ng-if="loginState ==='patientFiles'">
c
                </div>

                <div class="col-sm-12">
                    <button ng-click="logout()" style="" class="btn btn-default">Save data</button>
                </div>
            </div>
        </div>
    </div>
</div>